Cloud-FLOWS
[{"id":"59fc4f72.d079f","type":"ibmiot in","z":"234585a4.e7c3ba","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb827ebae7bcf","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":75.73017120361328,"y":267.06348037719727,"wires":[["4e2beae4.d52504"]]},{"id":"4e2beae4.d52504","type":"switch","z":"234585a4.e7c3ba","name":"","property":"payload.d.temperature","propertyType":"msg","rules":[{"t":"gt","v":"29","vt":"str"},{"t":"lt","v":"29","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":208,"y":268,"wires":[["905104b8.01d248"],["b18d44f1.be3c38"]]},{"id":"59ba764b.b57988","type":"json","z":"234585a4.e7c3ba","name":"","property":"payload","action":"obj","pretty":false,"x":535.7143363952637,"y":422.85715675354004,"wires":[["660f13b5.ee5bac","15d871e6.f12aae"]]},{"id":"b18d44f1.be3c38","type":"function","z":"234585a4.e7c3ba","name":"screenOFF","func":"//msg.payload = {\"screen\":\"off\"};\nmsg_ID = msg._msgid;\nmsg = {\n    payload: {\"screen\":\"off\"},\n    _msgid:msg_ID\n};\n// msg.payload = {\"a\" : {\"indicator\":msg.payload}};\n\nreturn msg;","outputs":1,"noerr":0,"x":385.7142639160156,"y":404.2857246398926,"wires":[["59ba764b.b57988"]]},{"id":"660f13b5.ee5bac","type":"debug","z":"234585a4.e7c3ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":664.2857208251953,"y":444.28572368621826,"wires":[]},{"id":"184b54fd.f6a16b","type":"ibmiot out","z":"234585a4.e7c3ba","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"senb827ebae7bcf","deviceType":"senseHAT","eventCommandType":"display","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":675.7142906188965,"y":100.00000953674316,"wires":[]},{"id":"abc401ec.b600b","type":"json","z":"234585a4.e7c3ba","name":"","property":"payload","action":"obj","pretty":false,"x":523.0000400543213,"y":120.00000953674316,"wires":[["184b54fd.f6a16b","b003069f.f665c8"]]},{"id":"b003069f.f665c8","type":"debug","z":"234585a4.e7c3ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":160,"wires":[]},{"id":"905104b8.01d248","type":"function","z":"234585a4.e7c3ba","name":"screenON","func":"//msg.payload = {\"screen\":\"off\"};\nmsg_ID = msg._msgid;\nmsg = {\n    payload: {\"screen\":\"on\"},\n    _msgid:msg_ID\n};\n// msg.payload = {\"a\" : {\"indicator\":msg.payload}};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["abc401ec.b600b"]]},{"id":"15d871e6.f12aae","type":"ibmiot out","z":"234585a4.e7c3ba","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"senb827ebae7bcf","deviceType":"senseHAT","eventCommandType":"display","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":400,"wires":[]}]
