PI-FLOWS
[{"id":"c5c9aaf3.06d2b8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"e5cd1b93.cb4a48","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"2987313d.b07eee","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3b40a826.42f588","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"f86146f3.720368","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"8aca08dd.e14948","type":"wiotp-credentials","z":"","name":"b827ebae7bcf","org":"wg90td","serverName":"","devType":"PIGW","devId":"b827ebae7bcf","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"c9acb10d.3b25b","type":"inject","z":"c5c9aaf3.06d2b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["6afc224b.23adac"]]},{"id":"6afc224b.23adac","type":"wiotp out","z":"c5c9aaf3.06d2b8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"8aca08dd.e14948","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":310,"y":160,"wires":[]},{"id":"5e05d33a.ed8fac","type":"wiotp in","z":"e5cd1b93.cb4a48","authType":"d","deviceKey":"8aca08dd.e14948","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":120,"y":260,"wires":[["92ee905f.8ce75"]]},{"id":"92ee905f.8ce75","type":"debug","z":"e5cd1b93.cb4a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":260,"wires":[]},{"id":"a608d03e.1eee2","type":"rpi-sensehatsim in","z":"e5cd1b93.cb4a48","name":"","motion":false,"env":true,"stick":false,"x":100,"y":360,"wires":[["79816353.739e1c"]]},{"id":"79980b2f.5a6b24","type":"rpi-sensehatsim out","z":"e5cd1b93.cb4a48","name":"","x":420,"y":320,"wires":[]},{"id":"79816353.739e1c","type":"debug","z":"e5cd1b93.cb4a48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":420,"wires":[]},{"id":"f07fd98b.a15158","type":"wiotp out","z":"2987313d.b07eee","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8aca08dd.e14948","deviceType":"PIGW","deviceId":"b827ebae7bcf","event":"event","format":"json","qos":"","name":"IoT OUT","x":320,"y":120,"wires":[]},{"id":"21b322be.f677ae","type":"inject","z":"2987313d.b07eee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["92553440.0d98c8"]]},{"id":"56bebf0a.1d752","type":"rpi-sensehatsim in","z":"2987313d.b07eee","name":"","motion":false,"env":true,"stick":false,"x":120,"y":440,"wires":[["17583b63.87bbc5"]]},{"id":"f4ccf1b9.92ee5","type":"debug","z":"2987313d.b07eee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":520,"wires":[]},{"id":"92553440.0d98c8","type":"debug","z":"2987313d.b07eee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":200,"wires":[]},{"id":"66250b4d.43f024","type":"wiotp out","z":"2987313d.b07eee","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8aca08dd.e14948","deviceType":"senseHAT","deviceId":"senb827ebae7bcf","event":"event","format":"json","qos":"","name":"IoT OUT","x":380,"y":560,"wires":[]},{"id":"17583b63.87bbc5","type":"delay","z":"2987313d.b07eee","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":140,"y":500,"wires":[["82bd5b9f.a727b8"]]},{"id":"57ff44d1.d8e92c","type":"rpi-sensehatsim in","z":"3b40a826.42f588","name":"","motion":false,"env":true,"stick":false,"x":320,"y":320,"wires":[["9ad11c6.eb9a1e"]]},{"id":"a15ed6a7.215788","type":"debug","z":"3b40a826.42f588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":380,"wires":[]},{"id":"89977d82.9d9a9","type":"wiotp out","z":"3b40a826.42f588","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8aca08dd.e14948","deviceType":"PIGW","deviceId":"b827ebae7bcf","event":"event","format":"json","qos":"","name":"IoT OUT","x":500,"y":440,"wires":[]},{"id":"9ad11c6.eb9a1e","type":"function","z":"3b40a826.42f588","name":"","func":"global.set('currentTemp', msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":320,"wires":[[]]},{"id":"4bc4e292.a61e0c","type":"inject","z":"3b40a826.42f588","name":"","topic":"","payload":"currentTemp","payloadType":"global","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":380,"wires":[["a15ed6a7.215788","89977d82.9d9a9"]]},{"id":"82bd5b9f.a727b8","type":"function","z":"2987313d.b07eee","name":"","func":"global.set(\"ctemp\", msg.payload.temperature);\nvar chum = msg.payload.humidity;\nvar ctemp = msg.payload.temperature;\nmsg.payload = {'d': {\"temperature\":ctemp ,\"humidity\":chum}}\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":560,"wires":[["f4ccf1b9.92ee5","66250b4d.43f024","67d23a36.8bc5e4"]]},{"id":"dcb5ebd3.a42b68","type":"inject","z":"2987313d.b07eee","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["e65d5a7d.acaff8"]]},{"id":"5e3b797.2353788","type":"debug","z":"2987313d.b07eee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":340,"wires":[]},{"id":"68cabcb2.4cc5b4","type":"function","z":"2987313d.b07eee","name":"","func":"var x = msg.payload.split(\"=\");\nmsg.payload = {'d' : {'temp':parseFloat(x[1])} };\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["5e3b797.2353788","5e78b8c6.2f5438"]]},{"id":"e65d5a7d.acaff8","type":"exec","z":"2987313d.b07eee","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"","x":270,"y":360,"wires":[["68cabcb2.4cc5b4"],[],[]]},{"id":"5e78b8c6.2f5438","type":"wiotp out","z":"2987313d.b07eee","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8aca08dd.e14948","deviceType":"PIGW","deviceId":"b827ebae7bcf","event":"event","format":"json","qos":"","name":"IoT OUT","x":600,"y":380,"wires":[]},{"id":"6cd0e622.853578","type":"wiotp in","z":"2987313d.b07eee","authType":"g","deviceKey":"8aca08dd.e14948","deviceType":"senseHAT","deviceId":"senb827ebae7bcf","command":"+","commandType":"d","qos":0,"name":"","x":110,"y":900,"wires":[["2da80958.bb5556"]]},{"id":"674e60ab.1cd3e","type":"debug","z":"2987313d.b07eee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":880,"wires":[]},{"id":"4d62d64.ae04528","type":"rpi-sensehatsim out","z":"2987313d.b07eee","name":"","x":720,"y":840,"wires":[]},{"id":"2da80958.bb5556","type":"switch","z":"2987313d.b07eee","name":"","property":"payload.screen","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":920,"wires":[["674e60ab.1cd3e","564b341.303e2cc"],["db102048.937f3","43dfc16f.d6f1"],["3f777271.b800fe"]]},{"id":"db102048.937f3","type":"debug","z":"2987313d.b07eee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":920,"wires":[]},{"id":"564b341.303e2cc","type":"function","z":"2987313d.b07eee","name":"","func":"// var temperature = Math.floor(global.get(\"ctemp\"))\n// var tens = Math.floor(temperature/10);\n// var units = temperature - (tens*10);\n\n// if (tens == 2){msg.payload = \"*,*,#800000,1,1-2,#C0C0C0\"\n// ;}\n// else if(tens ==3){msg.payload = \"*,*,#800000,1,1-3,#C0C0C0\"\n// }\n// else if(tens ==4){msg.payload = \"*,*,#800000,1,1-4,#C0C0C0\"\n// }\n// else if(tens==5){msg.payload = \"*,*,#800000,1,1-5,#C0C0C0\"\n// }\n// else if(tens==6){msg.payload = \"*,*,#800000,1,1-6,#C0C0C0\"\n// }\n// else if(tens==7){msg.payload = \"*,*,#800000,1,1-6,#C0C0C0,2,1,#C0C0C0\"\n// }\n// else if(tens==8){msg.payload = \"*,*,#800000,1,1-6,#C0C0C0,2,1-2,#C0C0C0\"\n// }\n// else if(tens==9){msg.payload = \"*,*,#800000,1,1-6,#C0C0C0,2,1-3,#C0C0C0\"\n// }\n\n\n// //for the units:\n\n// if (units==2){msg.payload +=\",5,1-2,#C0C0C0\"}\n// else if(units==3){msg.payload +=\",5,1-3,#C0C0C0\"}\n// else if(units==1){msg.payload +=\",5,1,#C0C0C0\"}\n// else if(units==4){msg.payload +=\",5,1-4,#C0C0C0\"}\n// else if(units==5){msg.payload +=\",5,1-5,#C0C0C0\"}\n// else if(units==6){msg.payload +=\",5,1-6,#C0C0C0\"}\n// else if(units==7){msg.payload +=\",5,1-6,#C0C0C0,6,1,#C0C0C0\"}\n// else if(units==8){msg.payload +=\",5,1-6,#C0C0C0,6,1-2,#C0C0C0\"}\n// else if(units==9){msg.payload +=\",5,1-6,#C0C0C0,6,1-3,#C0C0C0\"}\n\n\nmsg.payload = \"*,*,#800000,\" + global.get(\"CurrentTemperatureTU\")\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":840,"wires":[["4d62d64.ae04528"]]},{"id":"43dfc16f.d6f1","type":"function","z":"2987313d.b07eee","name":"","func":"// var temperature = Math.floor(global.get(\"ctemp\"))\n// var tens = Math.floor(temperature/10);\n// var units = temperature - (tens*10);\n// if(tens==1){msg.payload = \"*,*,#008000,1,1,#C0C0C0\"\n// }\n// else if(tens===0){msg.payload = \"*,*,#008000\"}\n// else if(tens===2){msg.payload = \"*,*,#008000,1,1-2,#C0C0C0\"}\n\n// //for the units:\n\n// if (units==2){msg.payload +=\",5,1-2,#C0C0C0\"}\n// else if(units==3){msg.payload +=\",5,1-3,#C0C0C0\"}\n// else if(units==1){msg.payload +=\",5,1,#C0C0C0\"}\n// else if(units==4){msg.payload +=\",5,1-4,#C0C0C0\"}\n// else if(units==5){msg.payload +=\",5,1-5,#C0C0C0\"}\n// else if(units==6){msg.payload +=\",5,1-6,#C0C0C0\"}\n// else if(units==7){msg.payload +=\",5,1-6,#C0C0C0,6,1,#C0C0C0\"}\n// else if(units==8){msg.payload +=\",5,1-6,#C0C0C0,6,1-2,#C0C0C0\"}\n// else if(units==9){msg.payload +=\",5,1-6,#C0C0C0,6,1-3,#C0C0C0\"}\nmsg.payload = \"*,*,#008000,\" + global.get(\"CurrentTemperatureTU\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":960,"wires":[["340384f4.c50dcc","66001b5a.6fe254"]]},{"id":"3f777271.b800fe","type":"function","z":"2987313d.b07eee","name":"","func":"msg.payload = \"*,*,#000000\"\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":1035.0000610351562,"wires":[["fbfc0e85.ac943"]]},{"id":"5fee3371.a3841c","type":"function","z":"2987313d.b07eee","name":"","func":"var temperature = Math.floor(global.get(\"ctemp\"))\nvar tens = Math.floor(temperature/10);\nvar units = temperature - (tens*10);\nmsg.payload = tens;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1140,"wires":[["98fcfc2.c2388"]]},{"id":"98fcfc2.c2388","type":"debug","z":"2987313d.b07eee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":1140,"wires":[]},{"id":"8e5c6e1b.50f98","type":"inject","z":"2987313d.b07eee","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1080,"wires":[["5fee3371.a3841c"]]},{"id":"67d23a36.8bc5e4","type":"function","z":"2987313d.b07eee","name":"","func":"\nvar temperature = Math.floor(msg.payload.d.temperature)\nvar tens = Math.floor(temperature/10);\nvar units = temperature - (tens*10);\n\n\n//for tens\nif(tens==1){global.set(\"TempTens\", \"1,1,#C0C0C0\")}\nelse if (tens == 2){global.set(\"TempTens\", \"1,1-2,#C0C0C0\")}\nelse if(tens ==3){global.set(\"TempTens\", \"1,1-3,#C0C0C0\")}\nelse if(tens ==4){global.set(\"TempTens\", \"1,1-4,#C0C0C0\")}\nelse if(tens==5){global.set(\"TempTens\", \"1,1-5,#C0C0C0\")}\nelse if(tens==6){global.set(\"TempTens\", \"1,1-6,#C0C0C0\")}\nelse if(tens==7){global.set(\"TempTens\", \"1,1-6,#C0C0C0,2,1,#C0C0C0\")}\nelse if(tens==8){global.set(\"TempTens\", \"1,1-6,#C0C0C0,2,1-2,#C0C0C0\")}\nelse if(tens==9){global.set(\"TempTens\", \"1,1-6,#C0C0C0,2,1-3,#C0C0C0\")}\n\n\n//for the units:\nif (units==2){global.set(\"TempUnits\",\",5,1-2,#C0C0C0\")}\nelse if(units==3){global.set(\"TempUnits\",\",5,1-3,#C0C0C0\")}\nelse if(units==1){global.set(\"TempUnits\",\",5,1,#C0C0C0\")}\nelse if(units==4){global.set(\"TempUnits\",\",5,1-4,#C0C0C0\")}\nelse if(units==5){global.set(\"TempUnits\",\",5,1-5,#C0C0C0\")}\nelse if(units==6){global.set(\"TempUnits\",\",5,1-6,#C0C0C0\")}\nelse if(units==7){global.set(\"TempUnits\",\",5,1-6,#C0C0C0,6,1,#C0C0C0\")}\nelse if(units==8){global.set(\"TempUnits\",\",5,1-6,#C0C0C0,6,1-2,#C0C0C0\")}\nelse if(units==9){global.set(\"TempUnits\",\",5,1-6,#C0C0C0,6,1-3,#C0C0C0\")}\nglobal.set (\"CurrentTemperatureTU\", global.get(\"TempTens\")+ global.get(\"TempUnits\"))\nmsg.payload = \"*,*,#000000,\" + global.get(\"CurrentTemperatureTU\")\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":660,"wires":[["da06001d.65547","dbf7f408.403f28"]]},{"id":"da06001d.65547","type":"debug","z":"2987313d.b07eee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":740,"wires":[]},{"id":"fbfc0e85.ac943","type":"rpi-sensehatsim out","z":"2987313d.b07eee","name":"","x":600,"y":1040,"wires":[]},{"id":"340384f4.c50dcc","type":"rpi-sensehatsim out","z":"2987313d.b07eee","name":"","x":780,"y":960,"wires":[]},{"id":"dbf7f408.403f28","type":"rpi-sensehatsim out","z":"2987313d.b07eee","name":"","x":540,"y":660,"wires":[]},{"id":"66001b5a.6fe254","type":"debug","z":"2987313d.b07eee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1020,"wires":[]}]
